%% Soma umbrella project configuration.
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.

{relx, [
    {release, {soma, "0.1.0"}, [
        soma_event_store,
        soma_tools,
        soma_runtime,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{shell, [
    {apps, [soma_runtime]}
]}.
